/*
Author: Andrew Kim
Version: 0.0.1
Since 28 November 2024

Footer styles
*/



.contact-box {
    margin-top: 200px;
}


.contact-container {
    text-align: left;
}


.contact-heading {
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-text {
    font-size: 18px;
    color: var(--text-light);
    margin-bottom: 30px;
}

.service {
    text-decoration: none;
    margin: 0 0 30px 0;
}


.contact-icon {
    background-color: var(--box-light);
    aspect-ratio: 1;
    border-radius: 16px;
    max-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image {
    width: 100%;
}

.contact-details {
    color: white;
}

.contact {
    font-size: 24px;
    font-weight: 600;
}

.message-container {
    background-color: var(--box-light);
    border-radius: 24px;
    min-height: 400px;
    padding: 40px;
}

.message-heading {
    font-size: 36px;
    color: white;
    font-weight: 600;
}

.message-text {
    font-size: 18px;
    color: var(--text-light);
}