/* 
Author: Andrew Kim
Version: 0.0.1
Since: 24 October 2024

Blog page styles
*/


.blog-container {
    text-align: center;
    padding: 30px;
    transition: transform 0.5s;
    text-decoration: none;
    margin-bottom: 40px;
}

.blog-container:hover {
    transform: scale(1.03) !important;
}

.blog-image {
    width: 100%;
    margin-bottom: 24px;
    border-radius: 24px;
}

.blog-category {
    color: var(--primary-blue);
    background-color: var(--primary-backdrop);
    padding: 4px 12px 4px 12px;
    font-size: 15px;
    border-radius: 8px;
    /* width: 120px; */
    margin: auto;
    font-weight: 500;
    margin-bottom: 12px;
}

.blog-title {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: 12px;
}

.blog-date {
    color: var(--text-light);
}