/*
Author: Andrew Kim
Version: 0.0.1
Since: 24 September 2024

Body styles
*/


#body {
    /* background-color: white; */
    min-height: calc(100vh - 94px);
    max-width: var(--max-body-width);
    margin: auto;
}