/*
Author: Andrew Kim
Version: 0.0.1
Since: 13 December 2024

Components styles
*/


/* ******************************** QUOTE BOX ******************************** */

.quote-box {
    background-color: var(--box-dark);
    max-width: 800px;
    border-radius: 24px;
    text-align: left;
    padding: 36px;
    margin-bottom: 24px;
}

.quote-text {
    color: var(--text-light);
    margin-bottom: 20px;
    line-height: 1.8;
}


.quote-icon {
    display: inline-block;
    margin-right: 16px;
}

.icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50vh;
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--box-light);
}

.icon-container > img {
    width: 50%;
}

/* TODO move up quote details */
.quote-details {
    display: inline-block;
}

.quote-author {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.quote-position {
    color: var(--text-light);
    font-size: 14px;
}



/* ******************************** PLACING LIST ******************************** */
.placing-container {
    width: 100%;
    text-align: center;
}

.placing-list {
    max-width: 1000px;
    margin: auto;
    text-align: left;
    line-height: 150%;
}

.nav-tabs {
    padding-bottom: 1px;
    border-bottom: 2px solid var(--primary-blue);
    text-align: center;
    margin: auto;
}

.nav-tabs .nav-link.active {
    color: var(--primary-blue);
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.nav-item {
    margin: auto;
}

.tablist-link {
    text-align: center;
    margin: auto;
    border: none !important;
    transition: border, 0.5s;
}

.tab-pane {
    padding: 20px;
    color: white;
}