/*
Author: Andrew Kim
Version: 0.0.1
Since: 25 October 2024

Contribute page styles
*/

/* 
.donate-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

#donate-row {
    width: 60%;
    margin-left: 20%;
}

.donate-card {
    /* margin: auto !important; */
    padding: 20px;
    text-decoration: none;
}

.donate-spacer {
    width: 29.1666666667%;
}

.donate-element {
    font-size: 60px;
}

.donate-container {
    background-color: var(--box-dark) !important;
    border-radius: 24px;
    text-align: center;
    aspect-ratio: 1;
    padding-top: 20px;
    transition: transform 0.5s;
}

.donate-container:hover {
    transform: scale(1.1) !important;
}

#platinum-element {
    background: -webkit-linear-gradient(135deg, white, #5a5a5a);
    background: linear-gradient(135deg, white, #8a8a8a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
}
#gold-element {
    background: -webkit-linear-gradient(135deg, #ffff72, #464610);
    background: linear-gradient(135deg, #ffff72, #464610);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#silver-element {
    background: -webkit-linear-gradient(135deg, white, black);
    background: linear-gradient(135deg, white, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#bronze-element {
    background: -webkit-linear-gradient(135deg, #ce8957, #24150c);
    background: linear-gradient(135deg, #ce8957, #24150c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.donate-name {
    color: white;
    font-size: 20px;
}

.donate-amount {
    color: var(--text-light)
}