/* 
Author: Andrew Kim
Version: 0.0.1
Since: 12 September 2024

General styles for all files
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #050c1a !important;
}
:root {
    --background: #050c1a;
    --primary-dark: #10163b;
    --primary-light: #4e4ef7;
}