/* 
Author: Andrew Kim
Version: 0.0.1
Since: 12 September 2024

General styles for all files
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

body {
    background-color: #050c1a !important;
}


:root {
    --background: #050c1a;
    --primary-dark: #10163b;
    --primary-purple: #4e4ef7;
    --primary-backdrop: #0b183d;
    --primary-blue: #3959ff;

    --box-dark: #071324;
    --box-light: #0f1e34;

    --text-light: #7e8694;
    --text-dark: #55575d;

    --max-body-width: 1200px;
    --max-text-width: 800px;

    --duo-1: #fcf386;
    --duo-2: #e0e0e0;
    --duo-3: #bbaba5;
    --duo-4: #fdeeb9;
    --duo-5: #c4e2ab;
    --duo-6: #e1bde3;
    --duo-7: #fde2b7;
    --duo-8: #b4eaf1;
    --duo-9: #f8bbd0;
}


.link {
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.5s;
    text-decoration: none;
}

.link:hover, .link:active, .link:focus {
    color: var(--primary-blue);
}

.primary-section {
    margin-bottom: 100px;
    max-width: 100%;
    text-align: center;
}

.heading-1 {
    font-size: 48px;
    text-align: center;
    color: white;
    font-weight: 700;
    margin-bottom: 40px;
}

#body {
    min-height: calc(100vh - 94px);
    max-width: var(--max-body-width);
    margin: auto;
    text-align: center;
}


/* **************** MEDIA QUERIES **************** */
@media (min-width: 992px) {
    
}

@media (max-width: 991px) {
    body {
        padding: 0 10px;
    }
}