/*
Author: Andrew Kim
Version: 0.0.1
Since: 17 October 2024

Team page styles
*/


:root {
    --accordion-border: 10px;
}


.accordion-item {
    /* margin-bottom: 20px; */
    margin: 0 auto 20px auto;
    background-color: var(--box-dark);
    border-radius: var(--accordion-border) !important;
    max-width: 1000px;
}

.accordion-button, .accordion-collapse, .accordion-button:hover, .accordion-button:active, .accordion-button:focus {
    background-color: var(--box-dark);
    outline: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    outline: none;
    box-shadow: none;
    background-color: var(--box-dark) !important;
}

.accordion-button {
    border-radius: var(--accordion-border) !important;
    font-weight: 800;
    color: white !important;
    font-size: 18px;
    padding: 20px 20px 20px 28px;
    transition: none;
    --bs-accordion-btn-icon-transform: rotate(90deg);
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
    background-image: url('../assets/site/chevron-right.png');
}

.accordion-item {
    border: none !important;
}

.overall {
    margin-bottom: 15px;
    font-weight: 800;
}

.rank {
    margin-bottom: 8px;
}

.rank-events {
    color: var(--text-light);
}

.rank-icon {
    padding: 2px;
    border-radius: 14px;
    color: black;
    display: inline-block;
    width: 40px;
    text-align: center;
    margin-right: 6px;
}

.rank-1st {
    background-color: var(--duo-1);
}

.rank-2nd {
    background-color: var(--duo-2);
}

.rank-3rd {
    background-color: var(--duo-3);
}

.rank-4th {
    background-color: var(--duo-4);
}

.rank-5th {
    background-color: var(--duo-5);
}

.rank-6th {
    background-color: var(--duo-6);
}

.rank-7th {
    background-color: var(--duo-7);
}

.rank-8th {
    background-color: var(--duo-8);
}

.rank-9th {
    background-color: var(--duo-9);
}


.accordion-collapse {
    background-color: var(--box-dark) !important;
    border-bottom-left-radius: var(--accordion-border);
    border-bottom-right-radius: var(--accordion-border);
    padding: 8px 28px 20px 28px;
    /* color: white; */
}


table {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.team-table {
    margin-bottom: 80px;
}

.team-head, .team-data {
    background-color: transparent !important;
    color: white !important;
    border-bottom: none;
}

.team-head {
    font-size: 22px;
}


.team-data {
    padding: 4px !important;
    font-size: 14px;
    color: var(--text-light) !important;
}
