/*
Author: Andrew Kim
Version: 0.0.1
Since: 13 December 2024

Components styles
*/


@import './variables.scss';


/* ******************************** QUOTE BOX ******************************** */

.quote-box {
    background-color: $box-dark;
    max-width: 800px;
    border-radius: 24px;
    text-align: left;
    padding: 36px;
    margin-bottom: 24px;
}

.quote-text {
    color: $text-light;
    margin-bottom: 20px;
    line-height: 1.8;
}


.quote-icon {
    display: inline-block;
    margin-right: 16px;
}

.icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50vh;
    width: 50px;
    aspect-ratio: 1;
    background-color: $box-light;
}

.icon-container > img {
    width: 50%;
}

/* TODO move up quote details */
.quote-details {
    display: inline-block;
}

.quote-author {
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.quote-position {
    color: $text-light;
    font-size: 14px;
}






/* ******************************** ACTION BUTTON ******************************** */

.action-button {
    padding: 20px 30px;
    background-color: white;
    font-weight: 600;
    color: $background;
    font-size: 18px;
    border-radius: 50vh;
    transition: background-color 0.5s;
}

.action-button:hover, .action-button:active {
    color: white;
    background-color: $primary-purple;
}