/* 
Author: Andrew Kim
Version: 0.0.1
Since: 5 December 2024

Index page styles
*/


@import './variables.scss';



#subtitle {
    margin-bottom: 50px;
}

.heading {
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

.subheading {
    color: $text-light;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 70px auto;
}

.index-section {
    margin: 0;
}

.value-icon-container {
    background-color: $box-light;
    aspect-ratio: 1;
    width: 90px;
    margin: auto;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
        width: 50px;
    }
}

.side-text {
    text-align: left !important;
    padding-right: 40px;
}


.value-name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 10px 0;
}

.value-description {
    color: $text-light;
    padding: 0 10px;
}