/* 
Author: Andrew Kim
Version: 0.0.1
Since: 5 December 2024

Index page styles
*/


@import './variables.scss';



#subtitle {
    margin-bottom: 50px;
}

.heading {
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
}

.subheading {
    color: $text-light;
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 70px auto;
}

.index-section {
    margin: 0 0 200px 0 !important;
}


.about {
    max-width: 800px;
    margin: auto;

    .about-row {
        margin-bottom: 40px;
        background-color: $box-dark;
        padding: 40px 20px;
        border-radius: 24px;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.03) !important;
        }

        .about-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .about-icon {
                width: 60px;
            }
        }

        .about-content {
            text-align: left;

            .about-name {
                color: white;
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 5px;
            }

            .about-children {
                color: $text-light;
            }
        }
    }
}








.value-icon-container {
    background-color: $box-light;
    aspect-ratio: 1;
    width: 90px;
    margin: auto;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
        width: 50px;
    }
}

.side-text {
    text-align: left !important;
    padding-right: 40px;
}


.value-name {
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0 10px 0;
}

.value-description {
    color: $text-light;
    padding: 0 10px;
}